// 修改公共部分的小差异

// 竖条hover li时 span不会出现
.blackBar ul li:hover span{
    display:none;  
}

// 二级导航先隐藏，hover时才出现
.headerGG .bottom_h{
    .b_h_left{
        .listA{
            display:none;
        }
    }
    .b_h_left:hover .listA{
        display:block;
    }  
        
}

// <!-- 详情说明区 -->
.main_get{
    .container{
        .get_top{
            font-size: 12px;
            height: 38px;
            padding:12px 0 0 15px;
            color:black;
        }
        .get_bottom{
            font-size: 12px;
            .g_b_left{
                margin-right:40px;
                width: 559px;
                height: 642px;
                border:1px solid #ccc;
                ul{
                    li{
                        float: left;
                    }
                    
                }
                .bigger{
                    width: 558px;
                    height: 558px;
                    position:relative;
                    
                    border-bottom:1px solid #ccc;
                    li{
                        width: 557px;
                        
                        img{
                            width: 557px;
                        }
                    }
                }
                .smaller{
                    padding:10px 0;
                    li{
                        width: 58px;
                        height: 62px;
                        margin: 0 4px;
                        padding: 6px 2px 2px;        
                    }
                    li:hover{
                        cursor:pointer;
                    }
                    // 点击谁时谁出现高亮
                    .gaoliang{
                        background: url('../img/d_active.gif') no-repeat;
                    }
                }
            
                .addTo{
                    padding:3px 0 30px 20px;
                    font-size: 12px;
                    background: url('../img/d_jia.gif') no-repeat left 3px;
                    a{
                        color:black;
                    }
                    a:hover{
                        color:red;
                        text-decoration:underline;
                    }

                }
            }
            .g_b_right{
                h1{
                    width: 540px;
                    font: bold 14px/26px simsun;
                    color: #666;
                }
                .info{

                    div{
                        margin:5px 0;
                    }
                    font-size: 13px;
                    .realP{
                        font-size: 32px;
                        line-height: 26px;
                        color: #ff5500;
                        font-family: tahoma;
                        display: inline-block;
                        vertical-align: baseline;
                    }
                    .marketP{
                        em{
                            font-weight: bold;
                            color: #3355aa;
                            font-family: tahoma;
                        }
                    }
                    .pjia{
                        .star{
                            display: inline-block;
                            width: 63px;
                            height: 11px;
                            background: url('../img/star.gif') no-repeat;

                        }
                        
                    }
                }
                .chooseI{
                    border: 1px solid #ffe6d2;
                    background: #fefcf2;
                    padding: 15px;
                    position: relative;
                    font-family: simsun;
                    margin-top: 15px;
                    color: #555555; 
                    dt,dd{
                        float: left;
                        margin-right:5px;
                    }
                    .color{
                        height: 65px;
                        dd{
                            border:1px solid #ccc;
                            
                        }
                        dd.gaoliang{
                            border:2px solid red;
                        }
                    }
                    .size{
                        height: 55px;
                        padding:14px 0;
                        dd{
                            border:1px solid #ccc;
                            width: 26px;
                            height: 26px;
                            padding:4px;
                            a{
                                color:#333;
                                font-size:13px;
                            }
                        }
                        dd.gaoliang{
                            border:2px solid red;
                        }
                    }
                    .qty{
                        height: 45px;
                        a{
                            display: inline-block;
                            width: 13px;
                            height: 13px;
                            background: #fff;
                            border: 1px solid #ddd;
                            font-family: simsun;
                            text-align: center;
                            line-height: 13px;
                            outline: none;
                            vertical-align: middle;
                        }
                        input{
                            width: 50px;
                            border:1px solid #ccc;
                            font-size: 14px;
                            height: auto;
                            vertical-align: middle;
                            line-height: 16px;
                        }
                    }
                    .decide{
                        height: 78px;
                        padding-top:20px;
                        a{
                            display: inline-block;
                            width: 156px;
                            height: 37px;
                            text-indent:-1000px;
                        }
                        .buy{
                            background: url('../img/d_mai.gif') no-repeat;
                        }
                        .addcart{
                            background: url('../img/d_che.gif') no-repeat;
                        }
                    }
                }
                .pay-mode{
                    height: 30px;
                    margin:5px 0;
                    a{
                        padding-left: 18px;
                        background-repeat: no-repeat;
                        background-position: 0 center;
                        display: inline-block;
                        margin-left: 2px;
                        color:#333;
                       
                    }
                    .alipay{
                        background: url('../img/d_zhi.gif') no-repeat;
                    }
                    .tenpay{
                        background: url('../img/d_cai.gif') no-repeat;
                    }
                    .ebank{
                        background: url('../img/d_wang.gif') no-repeat;
                    }
                    .creditcard{
                        background: url('../img/d_xin.gif') no-repeat;
                    }
                    .cashcard{
                        background: url('../img/d_cu.gif') no-repeat;
                    }
                    .cod{
                        background: url('../img/d_huo.gif') no-repeat;
                    }
                }
                .d-promise{
                    width: 599px;
                    height: 48px;
                    border:1px solid #EBEBEB;
                    background-color: #F7F7F7;
                    dt{
                        float: left;
                        background-color: #EBEBEB;
                        color:#AFAFAF;
                        width: 44px;
                        height: 100%;
                        margin-right:10px;
                        text-align:center;
                        padding-top:5px;
                        font-weight:bold;
                    }
                    dd{
                        ul{
                            li{
                                float: left;
                                margin:5px 10px;
                            }
                        }
                    }
                }
                
            }
        }
    }
}


// 喜欢本商品的用户还喜欢
.also_like{
    height: 308px;
    margin-top:54px;
    .container{
        border:1px solid #ccc;
        .like_top{
            height: 33px;
            background-color: #eee;
            line-height: 33px;
            padding-left:10px;
            font-size:14px;
        }
        .like_bottom{
            ul{
                height: 275px;
                display:flex;
                li{
                    flex:1;
                    float: left;
                    font-size:12px;
                    margin:10px;
                }
            }
        }
    }
}


.main_show{
    height: 2000px;
    margin-top:10px;
    .show_left{
        width: 220px;
        margin-right:20px;
        border:1px solid #ccc;
        p{
            height: 33px;
            background-color: #eee;
            padding-left:10px;
            line-height: 33px;
            font-size:14px;
            border-bottom:1px solid #ccc;
        }
        ul{
            padding:0 31px;
            li{
                img{
                    width: 158px;
                }
                .price{
                    text-align:center;
                    border-top:1px solid #ddd;
                    color:#333;
                    font-size:14px;
                    padding-top:3px;
                }
            }
        }
    }
    .show_right{
        width: 960px;
        border:1px solid #ccc;
        .show_r_top{
            height: 33px;
            background-color: #eee;
            padding-left:10px;
            line-height: 32px;
            font-size:14px;
            border-bottom:1px solid #ccc;
            li{
                float: left;
                padding:0px 23px;
            }
        }
        .show_r_center{
            height: 78px;
            padding:10px 0 0 15px;
            li{
                width: 300px;
                float: left;
                font-size:10px;
                color:#444;
                padding:5px 0;
            }
        }
    }
    
          
}
