.blackBar ul li:hover span {
  display: none;
}

.headerGG .bottom_h .b_h_left .listA {
  display: none;
}

.headerGG .bottom_h .b_h_left:hover .listA {
  display: block;
}

.main_get .container .get_top {
  font-size: 12px;
  height: 38px;
  padding: 12px 0 0 15px;
  color: black;
}

.main_get .container .get_bottom {
  font-size: 12px;
}

.main_get .container .get_bottom .g_b_left {
  margin-right: 40px;
  width: 559px;
  height: 642px;
  border: 1px solid #ccc;
}

.main_get .container .get_bottom .g_b_left ul li {
  float: left;
}

.main_get .container .get_bottom .g_b_left .bigger {
  width: 558px;
  height: 558px;
  position: relative;
  border-bottom: 1px solid #ccc;
}

.main_get .container .get_bottom .g_b_left .bigger li {
  width: 557px;
}

.main_get .container .get_bottom .g_b_left .bigger li img {
  width: 557px;
}

.main_get .container .get_bottom .g_b_left .smaller {
  padding: 10px 0;
}

.main_get .container .get_bottom .g_b_left .smaller li {
  width: 58px;
  height: 62px;
  margin: 0 4px;
  padding: 6px 2px 2px;
}

.main_get .container .get_bottom .g_b_left .smaller li:hover {
  cursor: pointer;
}

.main_get .container .get_bottom .g_b_left .smaller .gaoliang {
  background: url("../img/d_active.gif") no-repeat;
}

.main_get .container .get_bottom .g_b_left .addTo {
  padding: 3px 0 30px 20px;
  font-size: 12px;
  background: url("../img/d_jia.gif") no-repeat left 3px;
}

.main_get .container .get_bottom .g_b_left .addTo a {
  color: black;
}

.main_get .container .get_bottom .g_b_left .addTo a:hover {
  color: red;
  text-decoration: underline;
}

.main_get .container .get_bottom .g_b_right h1 {
  width: 540px;
  font: bold 14px/26px simsun;
  color: #666;
}

.main_get .container .get_bottom .g_b_right .info {
  font-size: 13px;
}

.main_get .container .get_bottom .g_b_right .info div {
  margin: 5px 0;
}

.main_get .container .get_bottom .g_b_right .info .realP {
  font-size: 32px;
  line-height: 26px;
  color: #ff5500;
  font-family: tahoma;
  display: inline-block;
  vertical-align: baseline;
}

.main_get .container .get_bottom .g_b_right .info .marketP em {
  font-weight: bold;
  color: #3355aa;
  font-family: tahoma;
}

.main_get .container .get_bottom .g_b_right .info .pjia .star {
  display: inline-block;
  width: 63px;
  height: 11px;
  background: url("../img/star.gif") no-repeat;
}

.main_get .container .get_bottom .g_b_right .chooseI {
  border: 1px solid #ffe6d2;
  background: #fefcf2;
  padding: 15px;
  position: relative;
  font-family: simsun;
  margin-top: 15px;
  color: #555555;
}

.main_get .container .get_bottom .g_b_right .chooseI dt, .main_get .container .get_bottom .g_b_right .chooseI dd {
  float: left;
  margin-right: 5px;
}

.main_get .container .get_bottom .g_b_right .chooseI .color {
  height: 65px;
}

.main_get .container .get_bottom .g_b_right .chooseI .color dd {
  border: 1px solid #ccc;
}

.main_get .container .get_bottom .g_b_right .chooseI .color dd.gaoliang {
  border: 2px solid red;
}

.main_get .container .get_bottom .g_b_right .chooseI .size {
  height: 55px;
  padding: 14px 0;
}

.main_get .container .get_bottom .g_b_right .chooseI .size dd {
  border: 1px solid #ccc;
  width: 26px;
  height: 26px;
  padding: 4px;
}

.main_get .container .get_bottom .g_b_right .chooseI .size dd a {
  color: #333;
  font-size: 13px;
}

.main_get .container .get_bottom .g_b_right .chooseI .size dd.gaoliang {
  border: 2px solid red;
}

.main_get .container .get_bottom .g_b_right .chooseI .qty {
  height: 45px;
}

.main_get .container .get_bottom .g_b_right .chooseI .qty a {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: #fff;
  border: 1px solid #ddd;
  font-family: simsun;
  text-align: center;
  line-height: 13px;
  outline: none;
  vertical-align: middle;
}

.main_get .container .get_bottom .g_b_right .chooseI .qty input {
  width: 50px;
  border: 1px solid #ccc;
  font-size: 14px;
  height: auto;
  vertical-align: middle;
  line-height: 16px;
}

.main_get .container .get_bottom .g_b_right .chooseI .decide {
  height: 78px;
  padding-top: 20px;
}

.main_get .container .get_bottom .g_b_right .chooseI .decide a {
  display: inline-block;
  width: 156px;
  height: 37px;
  text-indent: -1000px;
}

.main_get .container .get_bottom .g_b_right .chooseI .decide .buy {
  background: url("../img/d_mai.gif") no-repeat;
}

.main_get .container .get_bottom .g_b_right .chooseI .decide .addcart {
  background: url("../img/d_che.gif") no-repeat;
}

.main_get .container .get_bottom .g_b_right .pay-mode {
  height: 30px;
  margin: 5px 0;
}

.main_get .container .get_bottom .g_b_right .pay-mode a {
  padding-left: 18px;
  background-repeat: no-repeat;
  background-position: 0 center;
  display: inline-block;
  margin-left: 2px;
  color: #333;
}

.main_get .container .get_bottom .g_b_right .pay-mode .alipay {
  background: url("../img/d_zhi.gif") no-repeat;
}

.main_get .container .get_bottom .g_b_right .pay-mode .tenpay {
  background: url("../img/d_cai.gif") no-repeat;
}

.main_get .container .get_bottom .g_b_right .pay-mode .ebank {
  background: url("../img/d_wang.gif") no-repeat;
}

.main_get .container .get_bottom .g_b_right .pay-mode .creditcard {
  background: url("../img/d_xin.gif") no-repeat;
}

.main_get .container .get_bottom .g_b_right .pay-mode .cashcard {
  background: url("../img/d_cu.gif") no-repeat;
}

.main_get .container .get_bottom .g_b_right .pay-mode .cod {
  background: url("../img/d_huo.gif") no-repeat;
}

.main_get .container .get_bottom .g_b_right .d-promise {
  width: 599px;
  height: 48px;
  border: 1px solid #EBEBEB;
  background-color: #F7F7F7;
}

.main_get .container .get_bottom .g_b_right .d-promise dt {
  float: left;
  background-color: #EBEBEB;
  color: #AFAFAF;
  width: 44px;
  height: 100%;
  margin-right: 10px;
  text-align: center;
  padding-top: 5px;
  font-weight: bold;
}

.main_get .container .get_bottom .g_b_right .d-promise dd ul li {
  float: left;
  margin: 5px 10px;
}

.also_like {
  height: 308px;
  margin-top: 54px;
}

.also_like .container {
  border: 1px solid #ccc;
}

.also_like .container .like_top {
  height: 33px;
  background-color: #eee;
  line-height: 33px;
  padding-left: 10px;
  font-size: 14px;
}

.also_like .container .like_bottom ul {
  height: 275px;
  display: flex;
}

.also_like .container .like_bottom ul li {
  flex: 1;
  float: left;
  font-size: 12px;
  margin: 10px;
}

.main_show {
  margin-top: 10px;
}

.main_show .show_left {
  width: 220px;
  margin-right: 20px;
  border: 1px solid #ccc;
}

.main_show .show_left p {
  height: 33px;
  background-color: #eee;
  padding-left: 10px;
  line-height: 33px;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
}

.main_show .show_left ul {
  padding: 0 31px;
}

.main_show .show_left ul li img {
  width: 158px;
}

.main_show .show_left ul li .price {
  text-align: center;
  border-top: 1px solid #ddd;
  color: #333;
  font-size: 14px;
  padding-top: 3px;
}

.main_show .show_right {
  width: 960px;
  margin-bottom: 30px;
}

.main_show .show_right .show_r_top {
  height: 33px;
  background-color: #eee;
  padding-left: 10px;
  line-height: 32px;
  font-size: 14px;
  border-bottom: 1px solid #ccc;
}

.main_show .show_right .show_r_top li {
  float: left;
  padding: 0px 23px;
}

.main_show .show_right .show_r_center {
  height: 78px;
  padding: 10px 0 0 15px;
  border-bottom: 1px solid #ccc;
}

.main_show .show_right .show_r_center li {
  width: 300px;
  float: left;
  font-size: 10px;
  color: #444;
  padding: 5px 0;
}

.main_show .show_right .show_r_bottom {
  padding: 0 20px 50px;
}

.main_show .show_right .show_r_bottom .t {
  width: 920px;
  height: 200px;
  margin-bottom: 125px;
}

.main_show .show_right .show_r_bottom .b {
  margin: 0 84px;
  font-size: 0;
}

.main_show .show_right .grade {
  height: 230px;
  font-size: 12px;
  position: relative;
}

.main_show .show_right .grade h3 {
  height: 35px;
  border-bottom: 1px solid #ccc;
  border-top: 1px solid #ccc;
  background-color: #F2F2F2;
  padding-left: 10px;
  line-height: 35px;
}

.main_show .show_right .grade .bd {
  width: 927px;
  height: 126px;
  margin: 16px;
  border: 1px solid #ccc;
  padding: 16px;
}

.main_show .show_right .grade .bd .star-5 {
  display: inline-block;
  width: 63px;
  height: 11px;
  background: url("../img/star.gif") no-repeat;
}

.main_show .show_right .grade .bd .pj-grade {
  width: 159px;
}

.main_show .show_right .grade .bd .pj-grade p {
  margin: 5px 0;
}

.main_show .show_right .grade .bd .pj-percentage {
  width: 161px;
  border-right: 1px dashed #ccc;
}

.main_show .show_right .grade .bd .pj-percentage p {
  margin: 5px 0;
}

.main_show .show_right .grade .bd .pj-comfert {
  width: 391px;
  border-right: 1px dashed #ccc;
  padding-left: 15px;
}

.main_show .show_right .grade .bd .pj-comfert tr {
  display: inline-block;
  margin: 3px 0;
}

.main_show .show_right .grade .bd .pj-add {
  padding-left: 15px;
}

.main_show .show_right .grade .bd .pj-add a {
  border: 1px solid #d3701a;
  display: block;
  width: 66px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  background: url("../img/addcomment.gif") repeat-x;
  margin-top: 8px;
  color: #fff;
}

.main_show .show_right .grade .bd .pj-add a:hover {
  text-decoration: underline;
}

.main_show .show_right .grade .ft {
  position: absolute;
  right: 10px;
  top: 10px;
  color: red;
}

.main_show .show_right .grade div:last-child {
  text-align: center;
}

.main_show .show_right .other_brand h3 {
  border-bottom: 1px solid #ccc;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  margin: 20px 0 5px;
}

.main_show .show_right .other_brand .brands {
  border-top: 1px solid #ccc;
  border-left: 1px solid #ccc;
}

.main_show .show_right .other_brand .brands li {
  float: left;
  width: 96px;
  height: 80px;
  text-align: center;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.main_show .show_right .other_brand .brands li a {
  font-size: 12px;
  color: #666;
}

.main_show .show_right .other_brand .brands li a:hover {
  text-decoration: underline;
  color: red;
}

.main_show .show_right .other_brand .brands li i {
  background: url("../img/brandlist.gif") no-repeat;
  width: 56px;
  height: 42px;
  display: block;
  margin: 5px auto;
}

.main_show .show_right .other_brand .brands li .anta {
  background-position: 0 -132px;
}

.main_show .show_right .other_brand .brands li .msns {
  background-position: 0 -1012px;
}

.main_show .show_right .other_brand .brands li .p {
  background-position: 0 -4796px;
}

.main_show .show_right .other_brand .brands li .ld {
  background-position: 0 -1584px;
}

.main_show .show_right .other_brand .brands li .wy {
  background-position: 0 -4224px;
}

.main_show .show_right .other_brand .brands li .dk {
  background-position: 0 -3696px;
}

.main_show .show_right .other_brand .brands li .ds {
  background-position: 0 -3652px;
}

.main_show .show_right .other_brand .brands li .tmx {
  background-position: 0 -4444px;
}

.main_show .show_right .other_brand .brands li .ofd {
  background-position: 0 -4268px;
}

.main_show .show_right .other_brand .brands li .mw {
  background-position: 0 -4576px;
}

.main_show .show_right .other_brand .brands li .ppn {
  background-position: 0 -1144px;
}

.main_show .show_right .other_brand .brands li .xg {
  background-position: 0 -3300px;
}

.main_show .show_right .other_brand .brands li .htk {
  background-position: 0 -1100px;
}

.main_show .show_right .other_brand .brands li .ygr {
  background-position: 0 -3784px;
}

.main_show .show_right .other_brand .brands li .kq {
  background-position: 0 -616px;
}

.main_show .show_right .other_brand .brands li .hs {
  background-position: 0 -2596px;
}

.main_show .show_right .other_brand .brands li .ll {
  background-position: 0 -4180px;
}

.main_show .show_right .other_brand .brands li .kdn {
  background-position: 0 -2772px;
}

.main_show .show_right .other_brand .brands li .xql {
  background-position: 0 -2244px;
}

.main_show .show_right .other_brand .brands li .kt {
  background-position: 0 -1716px;
}

.main_show .show_right .other_brand .brands li:nth-child(10n) {
  width: 95px;
}
