.blackBar ul li:hover span {
  display: none;
}

.headerGG .bottom_h .b_h_left .listA {
  display: none;
}

.headerGG .bottom_h .b_h_left:hover .listA {
  display: block;
}

.main_get .container .get_top {
  font-size: 12px;
  height: 38px;
  padding: 12px 0 0 15px;
  color: black;
}

.main_get .container .get_bottom {
  font-size: 12px;
}

.main_get .container .get_bottom .g_b_left {
  margin-right: 40px;
  width: 559px;
  height: 642px;
  border: 1px solid #ccc;
}

.main_get .container .get_bottom .g_b_left ul li {
  float: left;
}

.main_get .container .get_bottom .g_b_left .bigger {
  width: 558px;
  height: 558px;
  position: relative;
  border-bottom: 1px solid #ccc;
}

.main_get .container .get_bottom .g_b_left .bigger li {
  width: 557px;
}

.main_get .container .get_bottom .g_b_left .bigger li img {
  width: 557px;
}

.main_get .container .get_bottom .g_b_left .smaller {
  padding: 10px 0;
}

.main_get .container .get_bottom .g_b_left .smaller li {
  width: 58px;
  height: 62px;
  margin: 0 4px;
  padding: 6px 2px 2px;
}

.main_get .container .get_bottom .g_b_left .smaller li:hover {
  cursor: pointer;
}

.main_get .container .get_bottom .g_b_left .smaller .gaoliang {
  background: url("../img/d_active.gif") no-repeat;
}

.main_get .container .get_bottom .g_b_left .addTo {
  padding: 3px 0 30px 20px;
  font-size: 12px;
  background: url("../img/d_jia.gif") no-repeat left 3px;
}

.main_get .container .get_bottom .g_b_left .addTo a {
  color: black;
}

.main_get .container .get_bottom .g_b_left .addTo a:hover {
  color: red;
  text-decoration: underline;
}

.main_get .container .get_bottom .g_b_right h1 {
  width: 540px;
  font: bold 14px/26px simsun;
  color: #666;
}

.main_get .container .get_bottom .g_b_right .info {
  font-size: 13px;
}

.main_get .container .get_bottom .g_b_right .info div {
  margin: 5px 0;
}

.main_get .container .get_bottom .g_b_right .info .realP {
  font-size: 32px;
  line-height: 26px;
  color: #ff5500;
  font-family: tahoma;
  display: inline-block;
  vertical-align: baseline;
}

.main_get .container .get_bottom .g_b_right .info .marketP em {
  font-weight: bold;
  color: #3355aa;
  font-family: tahoma;
}

.main_get .container .get_bottom .g_b_right .info .pjia .star {
  display: inline-block;
  width: 63px;
  height: 11px;
  background: url("../img/star.gif") no-repeat;
}

.main_get .container .get_bottom .g_b_right .chooseI {
  border: 1px solid #ffe6d2;
  background: #fefcf2;
  padding: 15px;
  position: relative;
  font-family: simsun;
  margin-top: 15px;
  color: #555555;
}

.main_get .container .get_bottom .g_b_right .chooseI dt, .main_get .container .get_bottom .g_b_right .chooseI dd {
  float: left;
  margin-right: 5px;
}

.main_get .container .get_bottom .g_b_right .chooseI .color {
  height: 65px;
}

.main_get .container .get_bottom .g_b_right .chooseI .color dd {
  border: 1px solid #ccc;
}

.main_get .container .get_bottom .g_b_right .chooseI .size {
  height: 55px;
  padding: 14px 0;
}

.main_get .container .get_bottom .g_b_right .chooseI .size dd {
  border: 1px solid #ccc;
  width: 26px;
  height: 26px;
  padding: 4px;
}

.main_get .container .get_bottom .g_b_right .chooseI .size dd a {
  color: #333;
  font-size: 13px;
}

.main_get .container .get_bottom .g_b_right .chooseI .qty {
  height: 45px;
}

.main_get .container .get_bottom .g_b_right .chooseI .qty a {
  display: inline-block;
  width: 13px;
  height: 13px;
  background: #fff;
  border: 1px solid #ddd;
  font-family: simsun;
  text-align: center;
  line-height: 13px;
  outline: none;
  vertical-align: middle;
}

.main_get .container .get_bottom .g_b_right .chooseI .qty input {
  width: 50px;
  border: 1px solid #ccc;
  font-size: 14px;
  height: auto;
  vertical-align: middle;
  line-height: 16px;
}

.main_get .container .get_bottom .g_b_right .chooseI .decide {
  height: 78px;
  padding-top: 20px;
}

.main_get .container .get_bottom .g_b_right .chooseI .decide a {
  display: inline-block;
  width: 156px;
  height: 37px;
  text-indent: -1000px;
}

.main_get .container .get_bottom .g_b_right .chooseI .decide .buy {
  background: url("../img/d_mai.gif") no-repeat;
}

.main_get .container .get_bottom .g_b_right .chooseI .decide .addcart {
  background: url("../img/d_che.gif") no-repeat;
}

.main_get .container .get_bottom .g_b_right .pay-mode {
  height: 30px;
  margin: 5px 0;
}

.main_get .container .get_bottom .g_b_right .pay-mode a {
  padding-left: 18px;
  background-repeat: no-repeat;
  background-position: 0 center;
  display: inline-block;
  margin-left: 2px;
  color: #333;
}

.main_get .container .get_bottom .g_b_right .pay-mode .alipay {
  background: url("../img/d_zhi.gif") no-repeat;
}

.main_get .container .get_bottom .g_b_right .pay-mode .tenpay {
  background: url("../img/d_cai.gif") no-repeat;
}

.main_get .container .get_bottom .g_b_right .pay-mode .ebank {
  background: url("../img/d_wang.gif") no-repeat;
}

.main_get .container .get_bottom .g_b_right .pay-mode .creditcard {
  background: url("../img/d_xin.gif") no-repeat;
}

.main_get .container .get_bottom .g_b_right .pay-mode .cashcard {
  background: url("../img/d_cu.gif") no-repeat;
}

.main_get .container .get_bottom .g_b_right .pay-mode .cod {
  background: url("../img/d_huo.gif") no-repeat;
}

.main_get .container .get_bottom .g_b_right .d-promise {
  width: 599px;
  height: 48px;
  border: 1px solid #EBEBEB;
  background-color: #F7F7F7;
}

.main_get .container .get_bottom .g_b_right .d-promise dt {
  float: left;
  background-color: #EBEBEB;
  color: #AFAFAF;
  width: 44px;
  height: 100%;
  margin-right: 10px;
  text-align: center;
  padding-top: 5px;
  font-weight: bold;
}

.main_get .container .get_bottom .g_b_right .d-promise dd ul li {
  float: left;
  margin: 5px 10px;
}
